#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: gersonrojas # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDk/VwiXQT6xl0l54A+Nj/O6bnZ351OKnX6P4dQyAFKUM64ku1gpHsQ1qzIyMJueg3qVs43haoFff5JXqajkvjz+Z6eDmok3GfbhIG2QhowzI0oTSkY8Q2UrKoJfnwK9T01dYeStajmZnZPDqcEhVr8Q2X2gwki/qITkxu+1Ryp/nM+hFo26fanC8S6OzQ6kIzY+xMiiaI5LfuEYlSeHVwu+quDKZKADgprCHFbD0mKbSp5KCOCL4mpAjSwX7fQA9GUiJNlrj44565LLL9RT45bEv8I5zyyAoHwZoL4ZtpMF9uO/lintD1arnkEpgcZenZzf8HwHIDgrGp2w+nCWoqV gersonrojas@gerson-System-Product-Name
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
